body {
    color: white;
    background: silver;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: black;
    background-image: url("../images/baking.png");
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 300px;
    text-align: center;
}

header a {
    margin-top: 40px;
    text-transform: uppercase;
    background-color: black;
}

header a:link {
    color: pink;
    text-decoration: none;
}

header a:visited {
    color: pink;
}

header a:hover {
    color: hotpink;
    text-decoration: underline;
}

header a:active {
    color: khaki;
}

header .logo a {
    background-image: url("../images/logo.png");
    background-size: 200px;
    background-color: red;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 120px;
    top: -60px;
    text-indent: -99999px;
}

.features {
    padding: 20px;
    display: flex;
    flex-direction: row;
    background: blanchedalmond;
    color: gray;
}

.features figure {
    margin: auto;
    width: 100px;
    text-align: center;
    text-indent: -100px;
}

.features figure img {
    border: 1px solid blanchedalmond;
    border-radius: 50%;
    width: 200px;
    box-shadow: gray 0 0 10px;
}

.lower {
    background: rgb(187, 131, 47);
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

footer {
    background: black;
    margin: 20px;
    padding: 10px 20px;
}